kraken2/
reads/
reads_qc/
read_subsets/
trycycler/
assemblies/
.DS_Store
kraken.report1
unicycler/
Helicobacter pylori bvbrc.embl
Helicobacter pylori hp2.xls
full_script.sh
1.debai/
compare_assemblies.py
busco/
busco_downloads/

